main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  background-color: #f5f5f5;
}

.carrinho-compra {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.carrinho-compra .card {
  width: 640px;
  /* box-shadow: 0 0 5px black; */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.carrinho-compra .card .nome-loja {
  padding: 6px 10px;
  padding: 11px 15px;
  font-size: 15px;
}

.separator {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 1px;
  width: 100%;
}

.carrinho-compra .card .produto {
  display: grid;
  grid-template-columns: 1fr minmax(0, 350px) 1fr 1fr;
  /* align-items: center; */
  padding: 5px 15px;
  margin-top: 15px;
}

.carrinho-compra .card .produto .img {
  width: min-content;
  margin-right: 15px;
}

.carrinho-compra .card .produto .img img {
  width: 70px;
  height: 70px;
}

.carrinho-compra .card .produto .nome-produto {
  margin-top: 6px;
}

.carrinho-compra .card .quantidade-produto {
  display: grid;
  place-items: center;
  margin-left: -80px;
  font-size: 12px;
}

.carrinho-compra .card .quantidade-produto .button-quantidade {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px silver;
  border-radius: 3px;
  padding: 5px;
}

.carrinho-compra .card .quantidade-produto .button-quantidade div {
  padding: 2px 12px;
}

.carrinho-compra .card .quantidade-produto .button-quantidade button {
  padding: 1px 9px;
  border: none;
  color: blue;
  background-color: white;
}

.carrinho-compra .card .quantidade-produto .quantidade-disponivel {
  padding: 5px;
  font-size: 12px;
}

.carrinho-compra .card .produto .preco-produto {
  display: flex;
  justify-content: end;
  margin-top: 6px;
}

.carrinho-compra .card .frete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.carrinho-compra .card-resumo-compra {
  width: 300px;
  /* box-shadow: 0 0 5px black; */
  border-radius: 5px;
  position: sticky;
  margin-left: 20px;
  background-color: white;
  height: min-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.carrinho-compra .card-resumo-compra .title-card {
  font-size: 15px;
  padding: 15px 19px;
}

.carrinho-compra .card-resumo-compra .valores {
  padding: 15px 19px;
}

.carrinho-compra .card-resumo-compra .valores > div {
  /* margin-bottom: 4px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.carrinho-compra .card-resumo-compra .valores .valor-total {
  margin-top: 5px;
}

.carrinho-compra .card-resumo-compra .button {
  padding: 0 19px 15px 19px;
}

.carrinho-compra .card-resumo-compra .button button {
  color: white;
  background-color: blue;
  font-size: 14px;
  padding: 12px 8px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.recomendados {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  height: 70vh;
}

.title-section {
  font-size: 18px;
}

/* Estilo da seção do slider */
.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  padding: 12px 15px;
  overflow: hidden;
}

.button-previous,
.button-next {
  flex-shrink: 0;
}

.button-previous button,
.button-next button {
  border-radius: 50%;
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 0 1px blue;
  margin: 0 6px;
}

/* Wrapper para esconder o conteúdo fora da tela */
.slider-carousel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 15px 0;
}

.slider-carousel {
  display: flex;
  transition: transform 0.5s ease;
  /* padding: 16px; */
}

/* Estilos para os cards */
.card {
  flex: 0 0 20%; /* Cada card ocupa 20% da largura do container */
  margin: 0 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card .img {
  padding: 5px;
}

.card .img img {
  width: 100%;
  height: 150px;
}

.card .text {
  padding: 7px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 40%; /* Cada card ocupa 40% em telas menores */
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 0 0 80%; /* Cada card ocupa 80% em telas bem pequenas */
  }
}
